
/**navbar*/

.navbar-brand-h1{
    color:white;
    font: 5px;
    
}
.navbar img{
    width: 80px;
    margin-right: 1px;
    padding: 2px;
}

.navbar .navbar-nav{
    text-align: center;
}

.navbar .navbar-nav a:last-child{
    color: #009349;
}
 


/* portada*/

.container-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    align-items: center;
  
    
}
.description {
    width: 50%;
    margin-bottom: 20vh;
    text-align: right;
    
}

.portada .botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* imagen 2*/
.bg{
    background-color: #353a40;   
}
/* footer*/
.footer{
    background-color: #1e516e;
    height: 90px;
    
}

.btn.mb-3{
    width: 100%; 
    background-color: #98ca50; 
    color: white
}


li{
    list-style: none;
    text-align: center;
}


a:link {
    text-decoration: none;
  }

/*scrollbar*/ 
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 183, 255, 0.219);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgba(45, 55, 61, 0.925);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }

     /* TICKETS */
     .tickets .container-tickets {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
      }
      
      .tickets-category {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 1rem;
      }
      
      .tickets-category .estudiante,
      .trainee,
      .junior {
        width: 30%;
        min-width: 180px;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem 0.5rem;
        cursor: pointer;
      }
      
      
      .tickets-category h6 {
        font-size: 0.7rem;
        color: var(--gray-600);
      }
      
      .tickets-category .estudiante {
        border-radius: 5px;
        border: 2px solid blue;
      }
      
      
      .tickets-category .trainee {
        border-radius: 5px;
        border: 2px solid green;
      }
      
      .tickets-category .junior {
        border-radius: 5px;
        border: 2px solid orange;
      }
      
      
      .container-tickets .tickets-text {
        text-align: center;
      }
      
      .tickets-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      .tickets-form .ticketsFirstName,
      .ticketsLastName {
        width: 49%;
        margin: 0.5rem 0;
        border-radius: 3px;
        border: 1px solid var(--gray-300);
        padding: 5px;
      }
      
      .tickets-form .ticketsEmail {
        width: 100%;
        border-radius: 3px;
        border: 1px solid var(--gray-300);
        padding: 4px;
      }
      
      .tickets-form .labelTicketsQuantity,
      .labelTicketsCategory {
        width: 49%;
        margin: 0.5rem 0;
      }
      
      .tickets-form .ticketsQuantity,
      .ticketsCategory {
        width: 100%;
        border-radius: 3px;
        border: 1px solid var(--gray-300);
        padding: 4px;
      }
      
      .tickets-form .ticketsCategory {
        background-color: transparent;
        color: var(--gray-600);
      }
      
      
      .tickets-form .ticketsOutput {
        width: 100%;
        background-color: rgb(155, 200, 222);
        border-radius: 3px;
        border: none;
        padding: 10px;
        color: var(--gray-900);
      }
      
      .ticketsOutput .ticketsValue {
        float: left;
        }
      
      .ticketsOutput .ticketsBuy {
      float: right;
      cursor: pointer;
      }
      
      
      .tickets-form .btnTickets {
        width: 49%;
        background-color: #98ca50; 
       color: white;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
      }
